.add-image {content:url("https://cdn4.iconfinder.com/data/icons/defaulticon/icons/png/256x256/add.png");}
.add-image-db {content:url("https://cdn1.iconfinder.com/data/icons/rcons-line-ios-3/32/database-512.png");}
.add-image-table {content:url("https://cdn0.iconfinder.com/data/icons/office/512/e42-512.png");}

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left:7%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
